* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px 20px 20px 320px;
}

header {
    background-color: wheat;
    padding: 20px 10px;
    border-radius: 10px;
}

header h1 {
    padding-left: 10px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
